{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyML Academy Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">

</head>

<body>
    <header>
        <div class="nav_right">
            <h1><a href="{% url 'home' %}">PyML Academy Blog</a></h1>
        </div>
        <div class="nav-left">
            {% if user.is_authenticated %}
            <a href="{% url 'post-new' %}">+ New Post</a>
            <form method="post" action="{% url 'logout' %}" style="margin:0;">
                {% csrf_token %}
                <button type="submit">Log out</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}">Log in</a>
            <a href="{% url 'signup' %}">Sign up</a>
            {% endif %}
        </div>

    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; {% now "Y" %} PyML Academy Blog. All rights reserved.</p>
    </footer>
</body>

</html>